.card {
    background-color: var(--bg-form);
    margin: 5% 35%;
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.card-title {
    color: var(--title-form);
    margin: 5%;
    text-align: inherit;
}

.card-form {
    
}

.card-input {
    padding: 10%;
    border-radius: 15px;
}

::placeholder {
    color: var(--letter-form);
}