main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-form);
    display: flex;
    border-radius: 20px;
    padding: 3em;
}

.card-title {
    color: var(--title-form);
    text-align: center;
}

.card-signup,
.card-input {
    width: 100%;
    margin-top: 2em;
    border-radius: 15px;
}

.card-input {
    padding: 15px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

::placeholder {
    color: var(--letter-form);
}

.card-signup {
    background-color: var(--submit-form);
    color: var(--fill-form);
    padding: 15px 75px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width: 850px) {
    .card {
        width: 30%;
    }
}